<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film List</title>
</head>
<body>

<center>
    {% for i in object_list %}

    <img src="{{i.image}}" alt="" width="300" height="400">
    <h1>Модель: {{i.title}}</h1>
    <h2>Цена: {{i.price_usd}}</h2>
    <p>
        <a href="{{i.title_url}}">Связаться</a>
    </p>
    <hr>
    <hr>
    {% endfor %}
</center>

</body>
</html>