<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>
</head>
<body>
<center>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Parsing">
    </form>
    <button><a href="/parser_cars_info/">INFO</a></button>
</center>
</body>
</html>