<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmList</title>
</head>
<body>
<center>
    <ul>
        {% for i in object_list %}
            <li><h2>{i.title_name}</h2></li>
            <img src="{{i.image.url}}" alt="" width="300" height="250">
        {% endfor %}
    </ul>
</center>
</body>
</html>