{% include 'tv_show/header.html' %}
<center>
  <h1>Cписок телесериалов и фильмов</h1>


  {% for i in object_list %}
<div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>{{i.title}}</b></h5><br>
    <p class="card-text"><b>Жанр: {{i.type_tv_show}}</b></p>
      <p class="card-text">Описание: {{i.description}}</p>
    <a href="/tv_show/{{i.id}}" class="btn btn-primary">Перейти</a>
  </div>
</div>
  <hr>
  <hr>
{% endfor %}
</center>


{% include 'tv_show/footer.html' %}