<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div>
    <ol>
        {% for i in object_list %}
        <h1>{{ i.name_product }}</h1>
        <img src="{{ i.image.url }}" alt="продукты" width="350" height="240">
        <button><a href="/product_detail.html/{{ i.id }}">Подробнее</a> </button>
        {% endfor %}
    </ol>
</div>
</body>
</html>