<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Product</title>
</head>
<body>
<h1>{{ object.title }}</h1>
<img src="{{object.image.url}}" alt="">
<p>{{ object.price }}</p>
<p>{{ object.name_tag }}</p>
</body>
</html>