{% load static %}
<link rel="stylesheet" href="{% static 'css/style_registration.css' %}" type="text/css" media="all" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Войти">
</form>
</body>
</html>