{% load static %}
<link rel="stylesheet" href="{% static 'css/style_registration.css' %}" type="text/css" media="all" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_list</title>
</head>
<body>
  <ol>
      {% for i in object_list %}

        <li>
          {{i.username}}
        </li>

      {% endfor %}
  </ol>
</body>
</html>