<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>women</title>
</head>
<body>
    <ol>
        {% for i in object_list %}
        <h1>{{ i.title }}</h1>
        <img src="{{ i.image.url }}" alt="Продукты" width="350" height="250">
            <button><a href="/product/product_detail/{{ i.id }}">Подробнее</a> </button>
        {% endfor %}
    </ol>
</body>
</html>